DB_URL="mysql://root:123456@localhost:3306/test_login_db"

# can generate this keys with https://www.lddgo.net/en/encrypt/rsakey
# RSA, length 2048, PEM format
JWT_KEY="-----BEGIN PUBLIC KEY-----"
JWT_SECRET="-----BEGIN RSA PRIVATE KEY-----"
JWT_EXPIRES_IN="7d"

SENDGRID_KEY="Key for sending emails"
SENDGRID_VERIFIED_SENDER_EMAIL="verified@email.com"
